/**
 * upsell.css
 * Feedzy RSS Feed Upsell Style
 *
 * @since   3.0.12
 * @package feedzy-rss-feeds
 */

#pro-features .pro-features-header {
	padding: 20px 10px;
	border-top: 5px solid #252b37;
	background: #fff;
}

#pro-features .logo {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0 0 0 0;
	color: #3c3c3c;
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1px;
}

#pro-features .slogan {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 3.5;
}

#pro-features .slogan a {
	color: #858585;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#pro-features .slogan a:hover {
	color: #ff6160;
}

#pro-features .slogan a:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#pro-features .header-btns {
	float: right;
	margin: 7px 20px;
	text-align: right;
}

#pro-features .header-btns .buy-now {
	display: inline-block;
	margin-top: 2px;
	margin-right: 5px;
	padding: 15px 25px;
	border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #e33b3f;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.250s ease-in-out;
	transition: all 0.250s ease-in-out;
}

#pro-features .header-btns .buy-now:hover {
	background: #252b37;
}

#pro-features .header-btns .buy-now .dashicons {
	padding-right: 3px;
}

#pro-features .pro-features-header,
#pro-features .pro-feature {
	display: block;
	margin: 30px 15px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#pro-features .pro-feature .pro-feature-features,
#pro-features .pro-feature .pro-feature-image {
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}

#pro-features .pro-feature .pro-feature-features {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
}

#pro-features .pro-feature .pro-feature-image {
	width: 470px;
}

#pro-features .pro-feature .pro-feature-features h2 {
	margin: 0 0 20px;
	font-size: 28px;
}

#pro-features .pro-feature .pro-feature-features h4 {
	margin: 0 0 10px;
	font-size: 20px;
}

#pro-features .pro-feature .pro-feature-features p {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 1.5;
}

#pro-features .pro-feature .pro-feature-image img {
	width: 100%;
	height: auto;
	padding: 20px 0;
}

#pro-features .subtitle-pro {
	margin: 0 0 0 20px;
	padding: 0;
	color: #858585;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-size: 17px;
	line-height: 1.5;
}

@media screen and (max-width: 1200px) {
	#pro-features .pro-feature .pro-feature-features,
	#pro-features .pro-feature .pro-feature-image {
		display: block;
	}

	#pro-features .pro-feature .pro-feature-image {
		width: 470px;
		margin: 0 auto 20px;
		text-align: center;
	}

	#pro-features .slogan {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	#pro-features {
		text-align: center;
	}

	#pro-features .logo {
		margin-left: 0;
	}

	#pro-features .header-btns {
		display: block;
		float: none;
		margin: 0 0 10px 0;
		text-align: center;
	}
}
