#edit-slug-box,
#postimagediv,
#minor-publishing,
.nivo_type,
.manual.description {
	display: none;
}

.useful-links a {
	float: right;
}

.nivo-plugin-images li {
	display: inline-block;
	position: relative;
	margin: 0;
}

.nivo-plugin-images li .spinner {
	display: block;
	float: left;
}

.nivo-plugin-images li img {
	max-width: 300px;
	margin: 0 10px 10px 0;
	padding: 3px;
	border: 1px solid #dfdfdf;
	background: none repeat scroll 0 0 #fff;
}

.nivo_plugin-thumbs {
	margin: 0;
	padding: 3px 0 0;
	list-style: none outside none;
}

.nivo_plugin-thumbs li {
	display: inline-block;
	position: relative;
	margin: 0;
}

.nivo_plugin-thumbs li img {
	margin: 0 10px 5px 0;
	padding: 2px;
	border: 1px solid #dfdfdf;
	background: none repeat scroll 0 0 #fff;
}

#nivo_license .spinner,
#nivo_license #deactivate-license,
#nivo_license #activate-license,
.reattach-spinner {
	float: left;
}
